/* OVERRIDE BULMA HERE */
h1,h2,h3,h4,h5,h6,.title,.subtitle{
  font-family: 'Staatliches', $family-sans-serif;
}
.navbar{
  font-family: 'Staatliches', $family-sans-serif;
  .navbar-menu{
    justify-content: center;
  }
  .navbar-start{
    display: none;
  }
  .navbar-end{
    margin-left: unset;
  }
}
